# --- MYSQL CONFIGURATION ---
# MySQL Configurations
MYSQL_ADDRESS=mysqladdresshere
MYSQL_DB_NAME=databasenamehere
MYSQL_ROOT_PASSWORD=rootpasswordhere
# Admin User Configurations
ADMIN_SQL_USER=adminuserformysqlname
ADMIN_SQL_PASSWORD=adminuserforsqlpassword
# Application/Service User Configurations
APP_USER=appserviceusername
APP_PASSWORD=appserviceuserpassword

# --- SERVER CONFIGURATION ---
GIN_MODE=debug
PORT=8080

VITE_API_BASE_URL=frontendclientbaseurlhere
VITE_CLIENT_ID=uuidforfrontendclient
VITE_REDIRECT_URI=frontendclientredirecthere
VITE_CLIENT_SECRET=passwordforfrontendclienthere
VITE_BACKEND_URL=backendurlhere
VITE_PROXY_TARGET_URL=dockerinternalbackendurlhere
VITE_LOGIN_PAGE_URL=identityproviderloginpageurlhere

IDP_AUTH_URL=identityproviderauthurlhere
IDP_REFRESH_URL=identityproviderrefreshurlhere
IDP_TOKEN_URL=identityprovidertokenurlhere
IDP_JWKS_URL=identityproviderjwksurlhere
IDP_USERINFO_URL=identityprovideruserinfoendpointhere
IDP_LOGOUT_URL=identityproviderlogouturlhere
IDP_ACCESS_URL=identityprovideraccessurlhere

VITE_BACKEND_API_KEY=yourapikeyhere
